<!doctype html>

<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/compario.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="static/homepage-view.js"></script>

</head>

<body>

  <div>

    <div class="container-fluid mb-5 product-sans-mdlg">
      {% block content %}
        {% include 'navbar.html' %}
      {% endblock %}
    </div>

    <div class="product-sans-md">
      <img src="static/images/Galaxy S10.png" class="bg-image">
      <form action="/searchProcess" method="post">

        <div class="row justify-content-center align-items-center pt-5 mb-3 product-sans-xl">
          Search here
        </div>

        <div class="row justify-content-center align-items-center mb-3">
          <input type="text" class="main-search" name="searchBar" ng-model="searchBar" placeholder="Search...">
        </div>

        <div class="row justify-content-center align-items-center mb-5">
          <input type="submit" class="search-button">
        </div>

      </form>

      <div class="container product-sans-lg">

        <div class="row mb-5">
          <div class="ml-auto col-auto desc-text-1">
            Simple and Easy
          </div>
        </div>
        <div class="row mb-5">
          <div class="ml-auto col-md-4">
            <img src="static/images/Google-Pixel-4.jpg" class="desc-image-1 float-right">
          </div>
        </div>

        <div class="row mb-5">
          <div class="ml-auto col-auto desc-text-2">
            Gets you the best prices
          </div>
        </div>
        <div class="row mb-5">
          <div class="ml-auto col-md-4">
            <img src="static/images/Mac-Pro.jpg" class="desc-image-2 float-right">
          </div>
        </div>

        <div class="row mb-5">
          <div class="ml-auto col-auto desc-text-3">
            Cross-Category product searches
          </div>
        </div>
        <div class="row">
          <div class="ml-auto col-md-4">
            <img src="static/images/Columbia-Sportswear.jpeg" class="desc-image-3 float-right">
          </div>
        </div>

      </div>

    </div>

  </div>
</body>
</html>
